.container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.side-bar-container {
  height: 100vh;
  background-color: var(--primary-color-dark);
  width: 5vw;
  border-radius: 0 3vmin 3vmin 0;
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  align-items: center;
  padding: 5vmin 0;
}

.img-logo {
  height: 2.5vw;
  width: 2.5vw;
}

.img-icon {
  height: 2vw;
  width: 2vw;
  align-self: flex-end;
  display: flex;
}

.logo-container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.icon-container {
  padding: 1.5vmin 1vmin 1.5vmin 2vmin;
  background-color: var(--primary-color);
  border-radius: 50% 0 0 50%;
  margin: 0.5vmin 0;
}

.selected-icon-container {
  padding: 1.5vmin 1vmin 1.5vmin 2vmin;
  background-color: #f2f2f2;
  border-radius: 50% 0 0 50%;
  margin: 0.5vmin 0;
}